body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f3f8f3;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 60px auto;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
  color: #1b5e20;
}

form {
  display: flex;
  flex-direction: column;
}

input, select, button {
  margin-top: 8px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background-color: #2e7d32;
  color: white;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

button:hover {
  background-color: #1b5e20;
}

header {
  background-color: #2e7d32;
  color: white;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.livros {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.livro {
  background: white;
  padding: 10px;
  border-radius: 10px;
  width: 150px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.livro:hover {
  transform: scale(1.05);
}

.livro img {
  width: 100%;
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #1b5e20;
  color: white;
}